<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--Thymeleaf namespace-->
    <head>
        <meta charset="UTF-8">
        <title>Customer Registration Form</title>

        <!-- Error Style-->
        <style>
            .error {
             color: red;
            }
        </style>
    </head>

    <body>
            <!-- Instruction of the Form -->
        <i>Fill out the form. Asterisk(*) means required.</i>
        <br><br>

            <!-- Form redirect to the 'processFrom' url, and data bind the customer -->
        <form th:action="@{/processForm}" method="post" th:object="${customer}">


            <!-- First Name input and Error -->
            First Name (*): <input type="text" th:field="*{firstName}"/>

            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error"></span>
            <br><br>

            <!-- Last Name input and Error -->

            Last Name (*): <input type="text" th:field="*{lastName}"/>

            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span>
            <br><br>

            <!-- Free Passes input and Error -->

            Free passes: <input type="text" th:field="*{freePasses}"/>

            <span th:if="${#fields.hasErrors('freePasses')}" th:errors="*{freePasses}" class="error"></span>

            <br><br>

            <!-- Postal Code input and Error -->

            Postal Code: <input type="text" th:field="*{postalCode}"/>

            <span th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" class="error"></span>


            <br><br>

            Course Code: <input type="text" th:field="*{courseCode}"/>

            <span th:if="${#fields.hasErrors('courseCode')}" th:errors="*{courseCode}" class="error"></span>


            <br><br>
            <input type="submit" value="Submit"/>

        </form>

    </body>
</html>