<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>student Registration Form</title>
</head>
<body>
<form   th:action="@{/processStudentForm}" th:object="${student}" method="post">

    <input type="text" th:field="*{firstName}" placeholder="First Name ">
    <input type="text" th:field="*{lastName}" placeholder="Last Name">

    <br><br>

    <select th:field="*{country}">

        <option th:each="item : ${countries}" th:value="${item}" th:text="${item}"></option>

    </select>
    <br><br>


    <input type="radio" th:field="*{favoriteLanguage}" th:each="item: ${languages}"
                                                            th:value="${item}"
                                                            th:text="${item}"></input>

    <br><br>

    <input type="checkbox" th:field="*{favoriteSystem}" th:each="item: ${systems}"  th:value="${item}" th:text="${item}"></input>

    <br><br>

    <input type="submit" value="Submit">


</form>
</body>
</html>