<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>student confirmation </title>
</head>
<body>

The Student confirmation is:  <span th:text="${student.firstName} + ' ' + ${student.lastName} + ' ' + ${student.country}"></span>.
<br><br>

Country :  <span th:text=  "${student.country}"></span>.

<br><br>

Favorite Language :  <span th:text=  "${student.favoriteLanguage}"></span>.

Favorite System :

<ul>
  <li th:each="favorite : ${student.favoriteSystem}" th:text="${favorite}"></li>
</ul>
</body>
</html>