<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
   hello
   <hr>

   <!-- Display username and roles -->

   <p>
       <!-- Display the user id who is login -->
       User: <span sec:authentication="principal.username"></span>
       <br><br>
       Roles: <span sec:authentication="principal.authorities"></span>
   </p>
   <hr>


   <div sec:authorize="hasRole('MANAGER')">
       <p >

           <a th:href="@{/leaders}">Leadership Meeting</a>
           (Only for Managers)

       </p>
       <hr>
   </div>

   <div sec:authorize="hasRole('ADMIN')">
       <p>

           <a th:href="@{/systems}">Leadership Meeting</a>
           (Only for Admins)

       </p>
       <hr>
   </div>


   <form action=""  th:action="@{/logout}" method="post" >
    <input type="submit" value="Logout">
    </form>


   <br><br>


</body>
</html>